<% include header.ejs %>
<% include nav.ejs %>
<div class="ui container">
    <h1>All Posts</h1>
    <div class="ui masonry grid">
        <% for(var i = posts.length-1; i >= 0 ; i--){ %>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <image src="<%= posts[i].image %>" style="padding: 0px;" class="image-button ui button" id="<%= i %>" onError="this.onerror=null; this.src='error.png'">
                </div>
                <div class="ui modal mini <%= i %>" style="width: 65%">
                    <div class="content">
                        <image src="<%= posts[i].image %>" onError="this.onerror=null; this.src='error.png'" style="width: 100%"/>
                    </div>
                </div>
                <div class="content">
                    <p><%= posts[i].comment %></p>
                    <p>by <a href="/user/<%= posts[i].userId %>"><%= posts[i].username %></a></p>
                </div>
                <% if(authenticated){ %>
                    <div class="extra content">
                        <div class="likes ui basic red"><%= posts[i].likedUsers.length %> Likes </div>
                        <% if(posts[i].likedUsers.indexOf(user) == -1){ %> <!-- Gotta do index of to make sure the user has liked / not liked yet -->
                            <a class="ui basic button red liked" id="<%= posts[i]._id %>">Like</a>
                        <% }else{ %>
                            <a class="ui basic button red liked unlike" id="<%= posts[i]._id %>"><span>Liked</span></a>
                        <% } %>
                    </div>
                <% } %>
            </div>
        </div>
        <% } %>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('.liked').click(function(){
            $.ajax({
                crossOrigin: true,
                url: '/user',
                type: 'POST',
                data:{
                    post: $(this).attr("id")
                },
                success: function(){
                    location.reload();
                },
                error: function(err){
                    alert(JSON.stringify(err));
                },
                complete: function(){
                    location.reload();
                }
            });
        })
        var post;
        $('.image-button.ui.button').click(function(){
            post=$(this).attr("id");
            post = post.split(" ").join(".");
            $(".mini.modal." + post).modal("show");
        })
    })
</script>