<% include header.ejs %>
<% include nav.ejs %>
<div class="ui container">
    <h1><%= user[0].username %>'s Posts</h1>
    <div class="ui masonry grid">
        <% for(var i = 0; i < posts.length; i++){ %>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <image src="<%= posts[i].image %>">
                </div>
                <div class="content">
                    <p><%= posts[i].comment %></p>
                    <p>by <%= posts[i].username %></p>
                </div>
                <div class="extra content">
                    <a class="ui button basic red like" id="<%= posts[i]._id %>"><%= posts[i].likedUsers.length %> Likes</a>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('.like').click(function(){
            $.ajax({
                url: '/user',
                type: 'POST',
                data:{
                    post: $(this).attr("id")
                },
                success: function(){
                    location.reload();
                }
            });
            location.reload();
        })
    });
</script>